/************************************************************************************
ESTRUCTURA
*************************************************************************************/
#container {
    background-color: rgb(115, 206, 255);
    border: 2px solid blue;
    padding: 5px;
    width: 960px;
    margin: 10px auto;
    height: auto;
}

#header {
    background-color: rgb(255, 255, 255);
    padding: 8px;
}

#section {
    /*section    article*/
    background-color: #ffffff;
    width: 96%;
    float: left;
    margin: 10px auto;
    padding: 15px;
}

#sidebar {
    /*aside*/
    background-color: #ffffff;
    width: 280px;
    float: right;
    padding: 15px;
    margin: 10px auto;
}

#footer {
    /*footer*/
    color: #ffffff;
    background-color: blue;
    clear: both;
    padding: 5px;
    text-align: center;
}


/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
		/* para 980px o menos */
		@media screen and (max-width: 980px) {
			#container {
				width: 96%;
			}

			#section {
				width: 60%;
			}

			#sidebar {
				width: 30%;
			}
		}

		/* para 700px o menos */
		@media screen and (max-width: 700px) {
			#header {
				height: auto;
			}

			#section {
				width: auto;
				float: none;
			}

			#sidebar {
				width: auto;
				float: none;
			}
		}

		/* para 480px o menos */
		@media screen and (max-width: 480px) {

			h1 {
				font-size: 24px;
			}

			#sidebar {
				display: none;
			}

        }
        
/************************************************************************************
TITLES
*************************************************************************************/
h2 {
    color: white;
    background-color: rgb(0, 15, 128);
    padding: 10px;
}

h3 {
    color: #000000;
    background-color: rgb(0, 247, 255);
    padding: 7px 30px 7px 30px;
}

pre {
    background-color: rgb(236, 255, 227);
    color: rgb(0, 7, 73);
    padding: 10px;
}

#cartel {
    border: none;
    margin: auto;
    display: block;
    width: 80%;
    padding: 0px;
}








